  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cont__pageHeader {
    display: flex;
    height: 120px;
    position: relative;
    background-color: #362FD9;
}

.ph_rightContent{
    display: flex;
    width: 200px;
}

.app_title {
    width: 100%;
    display: flex;
}

.app_title img:hover {
    cursor: pointer;
}    

.app_title img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.ph_leftContent {
    display: flex;
    width: 80%; 
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
}

.ph_leftContent .cont__dateAndTime {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 25px;
}

.contTime {
    margin-left: 15px;
    font-size: 2.5rem;
}

.container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
